header{
  padding-top:0px;
  padding-right:0px;
  padding-bottom:50px;
  padding-left:0px;
  background-image:header_background.png;
  
}
.header_image_left{
  float:left; 
  height: 200px;
  width: 100%;
  border-radius:50%;
}
.header_image_right{
  height: 200px;
  width: 100%;
  float:right;
  border-radius:50%;
}
.header_text{
  float:center;
  font-weight: 900;
}
