header{
  padding-top:0px;
  padding-right:0px;
  padding-bottom:50px;
  padding-left:0px;
  background-image:header_background.png;
}
.header_image_left{
  float:left; 
  border-radius:50%;
}
.header_image_right{
  float:right;
  border-radius:50%;
}
.header_text{
  float:center;
  font-weight: 900;
}
